root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true # tira os espaços no final da linha.
insert_final_newline = true # sempre coloca uma linha vázia no final do documento.
end_of_line = lf
